$pink: #F16D7F;
$font-weight300: 300;
$font-weight400: 400;
$font-weight600: 600;
$font-weight700: 700;
$linear-gradient: to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7);
$box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

@mixin inputField {
    border: 1px solid #A4A4A4;
    padding: 13px 0 16px 17px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexSB {
    display: flex;
    justify-content: space-between;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    @include flexColumn();
    margin: 0;
    min-height: 100vh;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    margin: 0;
}

.header {
    background-color: #222;
    padding: 18px 0;

    &-wrap {
        @include flexSB();
        align-items: center;
    }

    &-logo-link {
        margin-right: 41px;
    }

    &-account-link {
        margin: 0 33px;
    }

    &-right {
        @include flexSB();
        align-items: center;
        margin-right: 10px;
    }

    &-cart {
        position: relative;

        &-items {
            position: absolute;
            height: 19px;
            width: 19px;
            display: flex;
            justify-content: center;
            background-image: url(../img/icon-ellipse.png);
            top: -8px;
            right: -8px;

            &-num {
                padding: 0;
                margin: 0;
                color: white;
            }
        }
    }
}

.menu-block__wrap {
    position: absolute;
    padding: 37px 24px;
    z-index: 2;
    top: 77px;
    background-color: white;
    width: 232px;
    height: 764px;
    right: 0;
    box-sizing: border-box;
    box-shadow: $box-shadow;
}

.menu-header {
    font-size: 14px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu-sub-header {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu-list {
    list-style: none;
    padding-left: 28px;

    &__item {
        margin-bottom: 11px;
    }

    &__item-link {
        text-decoration: none;
        font-size: 14px;
        color: #6F6E6E;
    }
}

.menu-close-btn {
    top: 37px;
    right: 24px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-acc-cart-mobile {
    display: none;
}

.cross-icon-img {
    fill: #6F6E6E;
}

.menu-cross-icon {
    width: 12px;
    height: 12px;
}

#burger-chkb {
    display: none;
}

#burger-chkb:checked~.menu-block {
    display: unset;
}

#burger-chkb:not(checked)~.menu-block {
    display: none;
}

.promo {
    background-color: #F1E4E6;
}

.breadcrump {
    @include flexSB();
    min-height: 148px;
    align-items: center;

    &-header {
        color: $pink;
        font-size: 24px;
        font-weight: 400;
    }
    
    &-link {
        text-decoration: none;
        color: #636363;
        font-weight: $font-weight300;
    }

    &-paths-list {
        display: flex;
        padding: 0;
    }

    &-paths-list__item {
        list-style: none;
    }
}

.current-location {
    font-weight: $font-weight700;
    color: $pink;
}

.promo-wrap {
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/promo-background.png);
    background-repeat: no-repeat;
    background-position: -64% bottom;
}

.promo-wrap .image {
    left: -50px;
}

.promo-title-block {
    margin: -60px 99px 0 0;
}

.promo-title {
    border-left: 12px solid $pink;
    padding-left: 16px;

    &__text1 {
        font-size: 48px;
    }

    &__text2 {
        font-size: 32px;
    }
}

.center {
    padding: 0 calc(50% - 1140px / 2);
}

.catalog-product-items {
    list-style: none;
    box-sizing: border-box;

}

.offers {
    @include flexSB();
    flex-wrap: wrap;
    margin-top: 65px;
}

.offer-item {
    height: 260px;
    width: 31.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
}

.offer-item-1 {
    background-image: linear-gradient($linear-gradient), url(../img/for-women-bg.png);
}

.offer-item-2 {
    background-image: linear-gradient($linear-gradient), url(../img/for-men-bg.png);
}

.offer-item-3 {
    background-image: linear-gradient($linear-gradient), url(../img/for-kids-bg.png);
}

.offer-item-4 {
    background-image: linear-gradient($linear-gradient), url(../img/accesories-bg.png);
    height: 180px;
    width: 100%;
    margin-top: 30px;
}

.offer-text-1 {
    color: #FFFFFF;
    font-size: 16px;
    vertical-align: middle;
}

.offer-text-2 {
    color: $pink;
    font-size: 24px;
    font-weight: $font-weight700;
}

.products {
    margin: 96px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    @include flexColumn();
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    position: relative;

    &-header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 48px;
        width: 100%;
    }
    
    &-items {
        @include flexSB();
        flex-wrap: wrap;
        width: 100%;
    }
    
    &-descr {
        padding: 0 16px;
    }
    
    &-descr-text {
        color: #5D5D5D;
    }
    
    &-price {
        color: $pink;
    }
    
    &-link {
        text-decoration: none;
        color: #222;
    }
    
    &-link:hover {
        color: #0000FF;
    }
}

.product-items__catalog {
    @include flexSB();
    flex-wrap: wrap;
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;

    &-btn {
        background-color: transparent;
        text-align: center;
        border: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        padding: 0;
        width: 138px;
        font-size: 14px;
        line-height: 17px;
        font-weight: $font-weight400;
        color: #FFFFFF;

        &:hover {
            color: $pink;
            background-color: #FFFFFF;
            transition: 0.3s;

            .overlay-btn-img {
                fill: $pink;
                transition: 0.3s;
            }
        }
    }

    &-btn-img {
        padding: 11px;
        fill: #FFFFFF;
    }
}

.product:hover .overlay {
    opacity: 1;
    transition: 0.4s;
}

.features {
    @include flexSB();
    background-color: #222;
    text-align: center;
}

.feature {
    width: 360px;
    margin: 104px 0;
    color: #FBFBFB;

    &-text {
        font-size: 14px;
        font-weight: $font-weight300;
        line-height: 17px;
    }
}

.feedback {
    @include flexSB();
    height: 448px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/frame-bg.png);
    background-size: cover;

    &-item {
        width: 360px;
    }
    
    &-descr-text {
        font-size: 20px;
        line-height: 24px;
    }
    
    &-subscr-text {
        margin-bottom: 32px;
    }
}

.email-input {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    opacity: 0.67;
    font-size: 16px;
    line-height: 17px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    color: black;
}

.email-input::placeholder {
    color: #4D4D4D;
    opacity: 0.5;
}

.subscribe {
    display: flex;
}

.button-subscribe {
    width: 100px;
    height: 49px;
    background-color: $pink;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;

    &:hover {
        color: $pink;
        background-color: white;
        transition: 0.3s;
    }
}

.frame-subscr-text-1 {
    font-size: 24px;
    font-weight: $font-weight700;
    line-height: 40px;
}

.frame-subscr-text-2 {
    font-size: 18px;
    font-weight: $font-weight400;
    line-height: 30px;
}

.frame-subscr {
    @include flexColumn();
    justify-content: center;
    width: 557px;
}

.footer {
    background-color: #222;
    padding: 16px;
    margin-top: auto;

    &-wrap {
        @include flexSB();
        align-items: center;
    }

    &-right {
        @include flexSB();
    }

    &-icon {
        width: 32px;
        height: 32px;
        margin: 0 3.5px;
        background-color: #E1E1E1;
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            fill: black;
        }

        &:hover {
            background-color: $pink;
            transition: 0.3s;

            .footer-icon-img {
                fill: white;
                transition: 0.2s;
            }
        }
    }
}

.copyright {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    font-weight: $font-weight400;
}

.catalog-products {
    margin: 51px 0;
}

.catalog-header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 65px;
}

.filter {
    width: 334px;
    font-weight: $font-weight600;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    left: 0;
    padding: 13px 13px 0;
    transition: 0.2s;

    &-icon {
        fill: black;
        margin-left: 11px;
    }

    &-sidebar {
        margin: 16px 0;
        display: block;
    }

    &-category-link {
        text-decoration: none;
        color: #6F6E6E;
        font-weight: $font-weight400;
        font-size: 14px;
        line-height: 17px;
        display: block;
        padding: 11px;
    }

    &-sidebar-header {
        display: block;
        padding: 11px;
        font-size: 14px;
        font-weight: $font-weight400;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
    }
}

.filter[open] {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #FFFFFF;
    box-shadow: $box-shadow;
    color: #6F6E6E;
    
    .filter-icon {
        fill: #EF5B70;
    }

    .filter-header-block {
        color: #EF5B70;
    }
}

.filter-sidebar[open] {
    .filter-sidebar-header {
        color: #EF5B70;
    }
}

.sort {
    @include flexSB();
    padding: 13px 13px 0;
    width: 31.5%;
    z-index: 1;
}

.sort-block {
    &__checkbox {
        display: flex;
    }

    &__checkbox:not(:last-child) {
        margin-bottom: 6px;
    }

    &__input {
        margin-left: 0;
        margin-right: 0;
    }

    &__filter {
        @include flexColumn();
        border-style: none;
    }
}

.checkbox-text {
    margin: 0;
}

.sort-price {

    &-input__block {
        display: flex;
        justify-content: space-between;
    }

    &-input {
        max-width: 70px;
        border: 1px solid #6F6E6E;
        padding: 5px;
        text-align: center;
    }

    &-btn {
        background-color: $pink;
        border: 1px solid transparent;
        color: white;
        padding: 5px;
        width: 100%;

        &:hover {
            background-color: white;
            border: 1px solid $pink;
            color: $pink;
            transition: 0.4s;
        }
    }
}

.sort-price-input::placeholder {
    color: #6F6E6E;
    opacity: 0.5;
}

.sort-qnt {

    &-input__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-input {
        max-width: 70px;
        border: 1px solid #6F6E6E;
        padding: 5px;
        text-align: center;
    }

    &-btn {
        background-color: $pink;
        border: 1px solid transparent;
        color: white;
        padding: 5px;
        width: 100%;

        &:hover {
            background-color: white;
            border: 1px solid $pink;
            color: $pink;
            transition: 0.4s;
        }
    }
}

.price__min {
    margin: 0 5px 10px 0;
}

.price__max {
    margin: 0 0px 10px 5px;
}

.sort-block[open] {
    display: block;
    z-index: 1;
}

.checkbox {
    display: inline-block;
    margin-top: 10px;

    &-text {
        padding-left: 10px;
    }
}

.arrow-bottom {
    margin-left: 10px;
}

.catalog-pagination {
    @include flexSB();
    border: 1px solid #EBEBEB;
    padding: 12px 0;
}

.catalog-arrow {
    margin: 0 16px;
    border: none;
    background-color: transparent;

    &-img {
        fill: black;
    }

    &:hover {
        .catalog-arrow-img {
            fill: $pink;
            transform: scale(1.5);
            transition: 0.3s;
        }
    }
}

.page-links {
    @include flexSB();
}

.page-num-link {
    text-decoration: none;
    font-weight: $font-weight300;
    font-size: 16px;
    line-height: 19px;
    color: #6F6E6E;
    padding: 0 8px;

    &:hover {
        transform: scale(1.5);
    }
}

.first-cat-page {
    padding-left: 0;
}

.last-cat-page {
    padding-right: 0;
}

.product-slider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom: 42px;

    &-btn {
        padding: 0;
        border: none;
        display: inline-block;
        position: absolute;
        height: 47px;
        width: 47px;
        background-color: rgba(42, 42, 42, 0.15);
    }
}

.product-link:hover {
    color: $pink;
}

.slider-btn-left {
    left: 2px;

    &-img {
        fill: black;
    }

    &:hover {
        .slider-btn-left-img {
            fill: $pink;
            transition: 0.3s;
            transform: scale(1.3);
        }
    }
}

.slider-btn-right {
    right: 2px;

    &-img {
        fill: black;
    }

    &:hover {
        .slider-btn-right-img {
            fill: $pink;
            transition: 0.3s;
            transform: scale(1.3);
        }
    }
}

.product-about {
    &-content {
        @include flexColumn();
        border: 1px solid #EAEAEA;
        align-items: center;
        text-align: center;
        padding: 65px 250px;
        margin-top: -60px;
        background-color: #FFFFFF;
        position: relative;
    }

    &-collection {
        color: $pink;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin: 0 0 12px;
    }

    &-header {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin: 12px 0 48px;
    }

    &-descr {
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }

    &-price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        margin: 32px 0 65px;
    }

    &-sort {
        @include flexSB();
        width: 64%;
        margin: 65px 0 48px;
        padding: 0;
    }

    &-btn {
        color: #EF5B70;
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 14px 56px 14px 24px;
        border: 1px solid #FF6A6A;
        font-size: 16px;
        line-height: 19px;

        &:hover {
            background-color: $pink;
            color: white;
            transition: 0.3s;

            .product-about-cart {
                fill: white;
                transition: 0.3s;
            }
        }
    }

    &-cart {
        fill: #EF5B70;
        margin-right: 23px;
    }
}

.product-stock-btn-block {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-stock-btn {
    width: 211px;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    text-align: center;
    color: #F26376;
    text-decoration: none;

    &:hover {
        color: white;
        background-color: $pink;
        transition: 0.3s;
    }
}

.about-products {
    margin: 128px 0;
}

.about-product {
    margin: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.cart {
    @include flexSB();
    margin: 96px 0 128px;
}

.purchase-list {
    max-width: 652px;
}

.purchase-item {
    @include flexSB();
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;
}

.purchase-descr-block {
    width: 390px;
    padding: 22px 22px 22px 31px;
}

.purchase-header-block {
    @include flexSB();
    margin-bottom: 42px;
}

.purchase-header {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.cross-icon-btn {
    border: none;
    background-color: transparent;
    height: 18px;
    width: 18px;
    padding: 0;
    position: absolute;
    right: 24px;

    &-img {
        fill: #575757;
    }

    &:hover {
        .purchase-cancel-btn-img {
            fill: $pink;
        }
    }
}

.purchase-descr {
    margin: 6px 0;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    font-weight: $font-weight400;
}

.purchase-price-num {
    color: $pink;
}

.purchase-qnt-block {
    display: flex;
    align-items: center;
}

.purchase-qnt-num {
    margin-left: 24px;
    width: 44px;
    height: 25px;
    border: 1px solid #EAEAEA;
    text-align: center;
    font-size: 18px;
    color: #656565;
}

.purchase-btns {
    @include flexSB();
    margin-top: 72px;
}

.purchase-btn {
    border: 1px solid #A4A4A4;
    padding: 16px 40px;
    background-color: #FFFFFF;
    min-width: 235px;

    &-name {
        font-weight: $font-weight300;
        font-size: 14px;
        line-height: 17px;
    }

    &:hover {
        background-color: $pink;
        transition: 0.3s;
        color: white;
    }
}

.shipping-adr {
    @include flexColumn();
    
    &-set {
        @include flexColumn();
        border: none;
        padding: 0;
    }

    &-header {
        margin: 0;
        padding-top: 12px;
        font-weight: $font-weight300;
        font-size: 16px;
        line-height: 19px;
    }

    &-input {
        margin-top: 20px;
        @include inputField();
    }

    &-btn {
        margin-top: 24px;
        border: 1px solid #A4A4A4;
        padding: 10px 14px 12px;
        width: 104px;
        background-color: transparent;
        
        &-name {
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
        }

        &:hover {
            color: white;
            background-color: $pink;
            transition: 0.3s;
        }
    }
}

.purchase-total {
    @include flexColumn();
    margin-top: 57px;
    align-items: flex-end;
    padding: 39px 44px 42px;
    background-color: #F5F3F3;
}

.purchase-subtotal {
    margin: 0 0 12px;
    font-weight: $font-weight400;
    font-size: 11px;
    line-height: 13px;

    &-num {
        margin-left: 24px;
    }
}

.purchase-grandtotal {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 21px;

    &-num {
        margin-left: 10px;
        color: $pink;
        font-weight: $font-weight700;
    }
}

.purchase-checkout-btn {
    width: 100%;
    background-color: $pink;
    color: white;
    border: none;
    margin-top: 17px;
    padding: 16px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    &:hover {
        background-color: white;
        color: $pink;
        transition: 0.3s;
    }
}

.reg {
    @include flexSB();
    margin: 64px 0 96px;

    &-form {
        @include flexColumn();
        max-width: 31.5%;

        &-header {
            margin: 0 0 20px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }

        &-block {
            @include flexColumn();
            margin: 0;
        }

        &-input {
            @include inputField();
            margin-bottom: 20px;
            font-weight: $font-weight400;
            color: black;
        }

        &-input__pass {
            @include inputField();
            margin-bottom: 15;
        }

        &-pass-req {
            margin: 0;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }

        &-gender {
            display: flex;
            flex-direction: row;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            align-items: center;
            margin-top: 14px;

            &-radio {
                margin: 0 10px 0 0;
            }

            &-label {
                margin-right: 20px;
            }
        }

        &-btn {
            margin: 0;
            background-color: $pink;
            color: white;
            border: none;
            padding: 16px 29px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            border: 1px solid transparent;

            &__img {
                fill: white;
                margin-left: 20px;
            }

            &:hover {
                background-color: white;
                border: 1px solid $pink;
                color: $pink;
                transition: 0.3s;

                .reg-form-btn__img {
                    fill: $pink;
                    transition: 0.3s;
                }
            }
        }
    }

    .reg-form-input::placeholder {
        color: #B1B1B1;
        opacity: 0.5;
    }

    .login-block {
        margin: 34px 0 39px;
    }

    &-perks {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        max-width: 57%;

        &-header {
            margin: 0 0 22px;
        }

        &-descr {
            margin: 0 0 21px;
        }

        &-list {
            margin: 0;
            padding-left: 28px;
        }
    
        &-list__item {
            list-style-image: url(../img/icon-checkmark.png);
            padding: 8px 16px;
        }
    }
}

.flayout-container {
    position: relative;
    font-size: 14px;
    font-weight: $font-weight400;
    line-height: 17px;
    color: #6F6E6E;
}

.flayout-btn {
    background-color: transparent;
    border: none;
    color: #6F6E6E;
    font-size: 14px;
    padding: 0 0 5px;
}

.flayout-content {
    padding: 7px 9px 11px;
    display: none;
    position: absolute;
    z-index: 1;
    border: none;
    background-color: #FFFFFF;
    box-shadow: $box-shadow;

    &__trending {
        width: 100%;
    }
}

.flayout-container:hover .flayout-content {
    display: block;
    right: 0;
}

@media (max-width: 1180px) {
    .center {
        padding: 0 calc(50% - 768px / 2);
    }

    .wrap {
        padding: 0 calc(50% - 768px / 2);
    }

    .promo-wrap {
        height: 564px;
        background-position: -100% bottom;
        background-size: 600px 564px;
    }

    .promo-title-block {
        margin: -60px 20px 0 0;
    }

    .offer-item {
        height: 180px;
    }

    .offer-item-4 {
        height: 140px;
    }

    .product-items__catalog .product:last-child {
        display: none;
    }

    .catalog-products {
        margin: 24px 0 64px;
    }

    .catalog-header {
        justify-content: flex-end;
        margin-bottom: 40px;
    }

    .sort {
        width: unset;
        padding: unset;
    }

    .product-items__product .product:last-child {
        display: none;
    }

    .filter {
        padding: unset;
    }

    .sort-type:not(:last-child) {
        margin-right: 28px;
    }

    .catalog-pagination {
        margin-top: 23px;
    }

    .product-about {
        
        &-content {
            padding: 65px 107px;
        }

        &-sort {
            width: 40vw;
        }
    }

    .cart {
        flex-direction: column;
    }

    .shipping-adr {
        max-width: 360px;
        width: 100%;
    }

    .purchase {
        
        &-list {
            max-width: unset;
        }

        &-item {
            justify-content: unset;
        }

        &-total {
            margin-top: 50px;
            max-height: 214px;
            max-width: 360px;
            box-sizing: border-box;
        }

        &-checkout {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 64px;
        }

        &-btns {
            justify-content: center;
        }
    }

    .purchase-btns .purchase-btn:first-child {
        margin-right: 48px;
    }

    .reg {

        &-form {
            max-width: unset;
            margin-right: 22px;
        }

        &-perks {
            font-size: 16px;
            line-height: 19px;
            max-width: 354px;
        }
    }
}

@media (max-width: 799px) {
    .center {
        padding: 0 calc(50% - 740px / 2);
    }

    .wrap {
        padding: 0 calc(50% - 740px / 2);
    }

    .header-wrap {
        padding: 0 calc(50% - 740px / 2);
        padding: 0 32px;
    }

    .promo-title-block {
        margin: -60px 32px 0 0;
    }

    .promo-title {
        
        &__text1 {
            font-size: 44px;
        }

        &__text2 {
            font-size: 24px;
        }
    }

    .promo-wrap {
        height: 367px;
        background-position: 0px bottom;
        background-size: 386px 368px;
    }

    .offers {
        margin-top: 20px;
    }

    .offer-item {
        height: 180px;
    }

    .offer-item-4 {
        height: 120px;
        margin-top: 20px;
    }

    .product {
        margin-bottom: 17px;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin: 0 0 48px;

        &:first-child {
            margin-top: 48px;
        }

        &:last-child {
            margin-bottom: 64px;
        }
    }

    .feedback {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: unset;

        .feedback-item:first-child {
            margin-top: 54px;
        }

        .feedback-item:last-child {
            margin: 48px 0 140px;
        }

        .feedback-subscr-text-1 {
            line-height: 29px;
            font-weight: bold;
        }

        .feedback-subscr-text-1 {
            line-height: 27px;
            font-size: 18px;
        }
    }

    .subscribe {
        margin: 0;
    }

    .product-about {
        
        &-sort {
            width: 60vw;
            justify-content: center;
        }

        &-content {
            margin-top: unset;
            padding: 65px 107px;
        }

        &-line {
            width: 80vw;
        }
    }

    .product-about.center {
        padding: 0;
    }

    .sort-type:not(:last-child) {
        margin-right: 24px;
    }
}

@media (max-width: 740px) {
    .header-wrap {
        padding: 0 16px;
    }

    .header-account {
        display: none;
    }

    .header-cart {
        display: none;
    }

    .menu-acc-cart-mobile {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .hidden-acc {
        display: block;

        &__img {
            fill: black;
            margin-right: 40px;
        }
    }

    .hidden-cart {
        display: block;

        &__img {
            fill: black;
        }
    }

    .promo-wrap {
        background-image: none;
        display: flex;
        justify-content: center;
    }

    .promo-title-block {
        margin: 0;
    }

    .offers {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 64px;
    }

    .offer-item {
        width: 360px;
        height: 260px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .offer-item-4 {
        height: 111px;
        background-size: cover;
        margin: 0;
    }

    .products {
        margin-top: 26px;
    }

    .product-items {
        flex-direction: column;
        width: unset;
    }

    .product-about {

        &-content {
            padding: 65px 24px;
        }

        &-header {
            margin-bottom: 32px;
        }
        
        &-descr {
            line-height: 20px;
        }

        &-price {
            margin: 32px 0;
        }

        &-line {
            width: 45vw;
        }

        &-sort {
            width: 84vw;
        }
    }

    .footer-wrap {
        flex-direction: column;
    }

    .footer-left {
        order: 1;
    }

    .footer-right {
        margin: 40px 0;
    }

    .copyright {
        margin: 0;
    }

    .breadcrump {
        flex-direction: column;
        justify-content: unset;

        &-header-block {
            margin-top: 24px;
        }

        &-header-block p {
            margin: 0;
        }

        &-paths {
            margin: 32px 0 46px;
        }

        &-paths-list {
            margin: 0;
            padding: 0;
        }
    }

    .filter {

        &-header {
            display: none;
        }

        &-icon {
            width: 38px;
            height: 25px;
            margin-left: 16px;
        }
    }

    .sort-type:not(:last-child) {
        margin-right: 24px;
    }

    .flayout-btn {
        font-size: 12px;
    }

    .catalog-header {
        padding: 0 16px;
    }

    .breadcrump-center375 {
        justify-content: center;
    }

    .cart {
        margin: 39px 0 96px;
    }

    .purchase {
        
        &-img {
            max-width: 144px;
        }

        &-header-block {
            margin-bottom: 26px;
        }

        &-descr-block {
            padding: 17px;
        }

        &-header {
            font-size: 16px;
            line-height: 19px;
        }

        &-descr {
            margin: 2px 0;
            font-size: 14px;
            line-height: 17px;
        }

        &-qnt-num {
            width: 24px;
            height: 15px;
        }

        &-list {
            padding: calc(27vw - 50% / 2);
        }

        &-btns {
            margin-top: 30px;
        }

        &-btn {
            min-width: 175px;
            min-height: 33px;
            padding: 9px;
        }

        &-btn-name {
            font-size: 12px;
            line-height: 14px;
        }

        &-cancel-btn {
            right: 17px;
        }

        &-cancel-btn-img {
            width: 10px;
            height: 10px;
        }

        &-checkout {
            flex-direction: column;
            align-items: center;
        }
    }

    .purchase-btns .purchase-btn:first-child {
        margin-right: 9px;
    }

    .reg {
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        margin: 40px 0 100px;

        &-form {
            margin: 0 0 40px;
        }
    }
}

@media (min-width: 1599px) {
    .menu-block__wrap {
        right: calc(35.5% - 1140px / 2);
    }
}

@media (min-width: 1679px) {
    .menu-block__wrap {
        right: calc(36% - 1140px / 2);
    }
}

@media (min-width: 1919px) {
    .menu-block__wrap {
        right: calc(38% - 1140px / 2);
    }
}

@media (min-width: 2559px) {
    .menu-block__wrap {
        right: calc(41% - 1140px / 2);
    }
}

@media (min-width: 3839px) {
    .menu-block__wrap {
        right: calc(44% - 1140px / 2);
    }
}
