body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222;
  padding: 18px 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  margin-right: 41px;
}

.header-account-link {
  margin: 0 33px;
}

.promo {
  background-color: #F1E4E6;
}

.breadcrump {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrump-header {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}

.breadcrump-link {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
}

.current-location {
  font-weight: 700;
  color: #F16D7F;
}

.promo-wrap {
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/promo-background.png);
  background-repeat: no-repeat;
  background-position: -226px bottom;
}

.promo-title {
  margin: 0;
  width: 50%;
  border-left: 12px solid #F16D7F;
  margin-top: -60px;
  padding-left: 16px;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

.catalog-product-items {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

.offer-item {
  height: 260px;
  width: 360px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-item-1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for-women-bg.png);
  background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-women-bg.png);
}

.offer-item-2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for-men-bg.png);
  background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-men-bg.png);
}

.offer-item-3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/for-kids-bg.png);
  background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-kids-bg.png);
}

.offer-item-4 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(../img/accesories-bg.png);
  background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories-bg.png);
  height: 180px;
  width: 100%;
  margin-top: 30px;
}

.offer-text-1 {
  color: #FFFFFF;
  font-size: 16px;
  vertical-align: middle;
}

.offer-text-2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.products {
  margin: 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
  width: 100%;
}

.product-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.product-descr {
  padding: 0 16px;
}

.product-descr-text {
  color: #5D5D5D;
}

.product-price {
  color: #F16D7F;
}

.product-stock-btn {
  margin-top: 18px;
  width: 211px;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  text-align: center;
  color: #F26376;
  text-decoration: none;
}

.product-link {
  text-decoration: none;
  color: #222;
}

.product-link:hover {
  color: #0000FF;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.overlay-btn {
  background-color: transparent;
  text-align: center;
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 138px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #FFFFFF;
}

.overlay-btn-img {
  padding: 11px;
  fill: #FFFFFF;
}

.product:hover .overlay {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.features {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.feature {
  width: 360px;
  padding: 104px 0;
  color: #FBFBFB;
}

.feature-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.feedback {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(../img/frame-bg.png);
  background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/frame-bg.png);
  background-size: cover;
}

.feedback-item {
  width: 360px;
}

.feedback-descr-text {
  font-size: 20px;
  line-height: 24px;
}

.feedback-subscr-text {
  margin-bottom: 32px;
}

.email-input {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 22px;
}

.button-subscribe {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-subscribe:hover {
  color: #F16D7F;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.frame-subscr-text-1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.frame-subscr-text-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.frame-subscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 557px;
}

.footer {
  background-color: #222;
  padding: 16px;
  margin-top: auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-icon {
  width: 32px;
  height: 32px;
  margin: 0 3.5px;
  background-color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon-img {
  fill: black;
}

.footer-icon:hover {
  background-color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-icon:hover .footer-icon-img {
  fill: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.copyright {
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.catalog-products {
  margin: 51px 0;
}

.catalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 65px;
}

.filter {
  width: 334px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  left: 0;
  padding: 13px 13px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.filter-icon {
  fill: black;
  margin-left: 11px;
}

.filter-sidebar {
  margin: 16px 0;
  display: block;
}

.filter-category-link {
  text-decoration: none;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding: 11px;
}

.filter-sidebar-header {
  display: block;
  padding: 11px;
  font-size: 14px;
  font-weight: 400;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}

.filter[open] {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #6F6E6E;
}

.filter[open] .filter-icon {
  fill: #EF5B70;
}

.filter[open] .filter-header {
  color: #EF5B70;
}

.filter-sidebar[open] .filter-sidebar-header {
  color: #EF5B70;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 13px 0;
  width: 296px;
}

.sort-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}

.sort-name[open] {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #6F6E6E;
  border: none;
}

.size-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 79px;
}

.checkbox {
  display: inline-block;
  margin-top: 10px;
}

.checkbox-text {
  padding-left: 10px;
}

.size-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px 10px;
  border-style: none;
}

.arrow-bottom {
  margin-left: 10px;
}

.catalog-pagination {
  border: 1px solid #EBEBEB;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-arrow {
  margin: 0 16px;
  border: none;
  background-color: transparent;
}

.catalog-arrow-img {
  fill: black;
}

.catalog-arrow:hover .catalog-arrow-img {
  fill: #F16D7F;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-num-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
  padding: 0 8px;
}

.page-num-link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.first-cat-page {
  padding-left: 0;
}

.last-cat-page {
  padding-right: 0;
}

.product-slider {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding-bottom: 42px;
}

.product-slider-btn {
  padding: 0;
  border: none;
  display: inline-block;
  position: absolute;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.product-link:hover {
  color: #F16D7F;
}

.slider-btn-left {
  left: 2px;
}

.slider-btn-left-img {
  fill: black;
}

.slider-btn-left:hover .slider-btn-left-img {
  fill: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slider-btn-right {
  right: 2px;
}

.slider-btn-right-img {
  fill: black;
}

.slider-btn-right:hover .slider-btn-right-img {
  fill: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.product-about-content {
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 65px 250px;
  margin-top: -60px;
  background-color: #FFFFFF;
  position: relative;
}

.product-about-collection {
  color: #F16D7F;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 12px;
}

.product-about-header {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 12px 0 48px;
}

.product-about-descr {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin: 32px 0 65px;
}

.product-about-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0 48px;
}

.product-about-btn {
  color: #EF5B70;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 56px 14px 24px;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
}

.product-about-btn:hover {
  background-color: #F16D7F;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-about-btn:hover .product-about-cart {
  fill: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-about-cart {
  fill: #EF5B70;
  margin-right: 23px;
}

.product-stock-btn:hover {
  color: white;
  background-color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-products {
  margin: 128px 0;
}

.about-product {
  margin: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.cart {
  margin: 96px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase-list {
  width: 652px;
}

.purchase-item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.purchase-descr-block {
  width: 390px;
  padding: 22px 22px 22px 31px;
}

.purchase-header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}

.purchase-header {
  margin: 0;
  width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.purchase-cancel-btn {
  border: none;
  background-color: transparent;
  height: 18px;
  width: 18px;
  padding: 0;
}

.purchase-cancel-btn-img {
  fill: #575757;
}

.purchase-cancel-btn:hover .purchase-cancel-btn-img {
  fill: #F16D7F;
}

.purchase-descr {
  margin: 6px 0;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  font-weight: 400;
}

.purchase-price-num {
  color: #F16D7F;
}

.purchase-qnt-num {
  margin-left: 24px;
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  text-align: center;
  font-size: 18px;
  color: #656565;
}

.purchase-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.purchase-btn {
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  background-color: #FFFFFF;
}

.purchase-btn-name {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.purchase-btn:hover {
  background-color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.purchase-checkout {
  width: 360px;
}

.shipping-adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-adr-set {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shipping-adr-header {
  margin: 0;
  padding-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.shipping-adr-input {
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding: 13px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.shipping-adr-btn {
  margin-top: 24px;
  border: 1px solid #A4A4A4;
  padding: 10px 14px 12px;
  width: 104px;
  background-color: transparent;
}

.shipping-adr-btn-name {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.shipping-adr-btn:hover {
  color: white;
  background-color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.purchase-total {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 44px 42px;
  background-color: #F5F3F3;
}

.purchase-subtotal {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.purchase-subtotal-num {
  margin-left: 24px;
}

.purchase-grandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 21px;
}

.purchase-grandtotal-num {
  margin-left: 10px;
  color: #F16D7F;
  font-weight: 700;
}

.purchase-checkout-btn {
  width: 100%;
  background-color: #F16D7F;
  color: white;
  border: none;
  margin-top: 17px;
  padding: 16px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.purchase-checkout-btn:hover {
  background-color: white;
  color: #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */