body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.header {
    background-color: #222;
    padding: 18px 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    margin-right: 41px;
}

.header-account-link {
    margin: 0 33px;
}

.promo {
    background-color: #F1E4E6;
}

.promo-wrap {
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/promo-background.png);
    background-repeat: no-repeat;
    background-position: -226px bottom;
}

.promo-title {
    margin: 0;
    width: 50%;
    border-left: 12px solid #F16D7F;
    margin-top: -60px;
    padding-left: 16px;
}

.center {
    padding: 0 calc(50% - 1140px / 2);
}

.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
}

.offer-item {
    height: 260px;
    width: 360px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-item-1 {
    background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-women-bg.png);
}

.offer-item-2 {
    background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-men-bg.png);
}

.offer-item-3 {
    background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/for-kids-bg.png);
}

.offer-item-4 {
    background-image: linear-gradient(to top, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories-bg.png);
    height: 180px;
    width: 100%;
    margin-top: 30px;
}

.offer-text-1 {
    color: #FFFFFF;
    font-size: 16px;
    vertical-align: middle;
}

.offer-text-2 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.text {
    font-family: Lato;
}

.products {
    margin: 96px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 48px;
    width: 100%;
}

.product-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}

.product-descr {
    padding: 0 16px;
}

.product-descr-text {
    color: #5D5D5D;
}

.product-price {
    color: #F16D7F;
}

.product-stock-button {
    margin-top: 18px;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    text-align: center;
    color: #F26376;
    text-decoration: none;
}

.features {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feature {
    width: 360px;
    padding: 104px 0;
    color: #FBFBFB;
}

.feature-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.frame {
    height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/frame-bg.png);
    background-size: cover;
}

.frame-item {
    width: 360px;
}

.frame-descr-text {
    font-size: 20px;
    line-height: 24px;
}

.frame-subscr-text {
    margin-bottom: 32px;
}

.button-input {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    opacity: 0.67;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
}

.button-subscribe {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.frame-subscr-text-1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.frame-subscr-text-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.frame-subscr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 557px;
}

.footer {
    background-color: #222;
    padding: 16px;
    margin-top: auto;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.footer-icons {
    width: 32px;
    height: 32px;
}